.sidebar.closed {
    h4,
    h1,
    h3 {
        /* opacity: 0;
        transition: opacity 1s ease; */
        display: none;
    }

    img.logo {
        max-width: none;
    }

    .menu-item {
        justify-content: center;
    }
}
/* .sidebar {
    opacity: 1;
} */